<header>
    {{leagueDetails.leagueName}} {{mapping[leagueDetails.leagueStatus]}} Week {{week}}
</header>
{% if not matchupDetails %}
    <div class="dimmed light">{{ "LOADING" | translate }}</div>
{% else %}
    <div class="matchup-row">
    <div class="user">
        <div class="matchup-owner-item">
            <div class="owner-container">
                <div class="row space-between">
                    <div class="row">
                        <div class="avatar-container" style="border-color: rgb(247, 92, 141);">
                            <div
                                class="avatar"
                                style="background-image: url('https://sleepercdn.com/avatars/thumbs/{{matchupDetails.userRoster.avatar}}'); width: 40px; height: 40px; flex: 0 0 40px; background-size: contain; position: relative;"
                            ></div>
                        </div>
                        <div class="meta">
                            <div class="team-name">{{ matchupDetails.userRoster.display_name }}</div>
                            <div class="name">{{ matchupDetails.userRoster.display_name }}</div>
                        </div>
                    </div>
                    <div class="roster-score-and-projection-matchup"><div class="score">
                        {% if matchupDetails.userRoster.points == 0 %}
                                --
                            {%else%}
                                {{matchupDetails.userRoster.points}}
                            {%endif%}
                        </div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="vs-label"><div class="label">VS</div></div>
    <div class="user reverse">
        <div class="matchup-owner-item">
            <div class="owner-container">
                <div class="row flip space-between">
                    <div class="roster-score-and-projection-matchup flip"><div class="score" style="margin-left: 8px;">
                        {% if matchupDetails.opponentRoster.points == 0 %}
                                --
                            {%else%}
                                {{matchupDetails.opponentRoster.points}}
                            {%endif%}
                        </div></div>
                    <div class="row flip">
                        <div class="meta flip" style="margin-right: 8px;">
                            <div class="team-name">{{ matchupDetails.opponentRoster.display_name }}</div>
                            <div class="name">{{ matchupDetails.opponentRoster.display_name }}</div>
                        </div>
                        <div class="avatar-container flip" style="border-color: rgb(69, 230, 167);">
                            <div
                                class="avatar"
                                style="background-image: url('https://sleepercdn.com/avatars/thumbs/{{matchupDetails.opponentRoster.avatar}}'); width: 40px; height: 40px; flex: 0 0 40px; background-size: contain; position: relative;"
                            ></div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</div>
    <table class="table {{ config.tableSize }}">
        <thead>
        </thead>
        <tbody>
            {% for position in leagueDetails.rosterPositions %}
                {% if (position == "BN" and config.showBench == false) %}
                    <div/>
                {%else%}
                    <tr>
                        <td>
                            <img width="30" height="30" src='https://sleepercdn.com/content/nfl/players/thumb/{{matchupDetails.userRoster.playerList[loop.index0]}}.jpg'/>
                        </td>
                        <td>
                                {{matchupDetails.userRoster.sortedNameList[loop.index0]}}
                        </td>
                        <td class="userScores">
                            {% if matchupDetails.userRoster.sortedPointsList[loop.index0] == 0 %}
                                --
                            {%else%}
                                {{matchupDetails.userRoster.sortedPointsList[loop.index0]}}
                            {%endif%}
                        </td>
                        <td class="rosterPosition">
                            <span class="rosterPosition rosterPositionTitle  {{position}}">{{position}}</span>
                        </td>
                        <td class="opponentScores">
                            {% if matchupDetails.opponentRoster.sortedPointsList[loop.index0] == 0 %}
                                --
                            {%else%}
                                {{matchupDetails.opponentRoster.sortedPointsList[loop.index0]}}
                            {%endif%}
                        </td>
                        <td>
                            {{matchupDetails.opponentRoster.sortedNameList[loop.index0]}}
                        </td>
                        <td>
                            <img width="30" height="30" src='https://sleepercdn.com/content/nfl/players/thumb/{{matchupDetails.opponentRoster.playerList[loop.index0]}}.jpg'/>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endif %}